[submodule "sunlongyu.github.io"]
	path = sunlongyu.github.io
	url = https://github.com/sunlongyu/sunlongyu.github.io

[submodule "themes/hugo-theme-cleanwhite"]
    path = themes/hugo-theme-cleanwhite
    url = https://github.com/sunlongyu/sunlongyu.github.io 